@import '../../../styles/common.scss';
.link {
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: $white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  @include tablet-media-query {
    gap: 20px;
  }
  @include phone-media-query {
    padding: 10px;
    &:after {
      width: 0;
    }
    text-align: center;
  }
}
