@import '../../styles/variables.scss';
.forecast {
  width: 80%;
  display: flex;
  gap: 2rem;
}

.dog {
  font-size: 0.41rem;
}

.tenDegree {
  background: blue;
}

.twentyDegree {
  background: green;
}

.thirtyDegree {
  background: yellow;
}
