.feature {
  // flex-grow: 3;

  // width: 500px;
  // height: 300px;
  border: 3px solid white;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
  &__preview {
    // outline: 1px solid red;
    width: 600px;
    height: 400px;
  }
  &__name {
    // text-transform: uppercase;
    font-size: 1.3rem;
    // outline: 1px solid red;
    padding: 0px 0px 20px 0px;
  }

  &__canvas {
    background: rgb(0, 0, 0);
  }
}
