// import variables from styles/variables.scss
@import '../../styles/common.scss';

.nav {
  z-index: 1;
  width: 100%;
  font-size: 1.2rem;
  // letter-spacing: 4px;
  position: absolute;
  margin: 30px 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 600;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-end;
  }
  &__link {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0px;
      left: 0;
      background-color: $white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    @include tablet-media-query {
      gap: 20px;
    }
    @include phone-media-query {
      margin: 10px;
      &:after {
        width: 0;
      }
      text-align: center;
    }
  }

  @include tablet-media-query {
    &__list {
      gap: 20px;
    }
  }

  @include phone-media-query {
    &__link3 {
      display: none;
    }
  }
}
