@import '../../../styles/common.scss';
.hamburgerMenu {
  cursor: pointer;
  display: none;
  @include phone-media-query {
    display: block;
    display: flex;
  }
}

.hamburgerMenuOpen {
  background: black;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 300%;
  left: 0;
  // left: 50%;
  // transform: translate(-50%, -50%);
  list-style: none;
}
.hamburgerMenuClose {
  display: none;

  // tablet-media-query
  @include tablet-media-query {
  }
  // tablet-media-query
  // phone-media-query
  @include phone-media-query {
  }
  // phone-media-query
}
