@import '../../../styles/common.scss';
.hamburgerMenu {
  cursor: pointer;
  display: none;
  @include phone-media-query {
    display: block;
    display: flex;
  }
}

.hamburgerMenuOpen {
  z-index: 1;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 0;
  position: absolute;
  width: 100%;
  top: 200%;
  left: 0;
  list-style: none;
  li {
    text-align: center;
    padding: 5px;
  }
}
.hamburgerMenuClose {
  z-index: 100;
  background: red;
  display: none;
}
